:root{
       --PrimaryColor: hsl(199, 100%, 33%);  
       --SecondaryColor: hsl(187, 85%, 43%);
       --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
       --whiteColor: hsl(0, 0%, 100%);
       --blackColor: hsl(201, 33%, 16%);
       --textColor: hsl(240, 4%, 36%);
       --whiteColorDeam: hsl(0, 0%, 93%);
       --greyText: rgb(190, 190, 190);
       --inputColor: rgb(239, 239, 239);
       --bodyColor: rgb(240, 240, 246);
       --cardBG: rgb(225, 225, 235);
       --cardHover: rgb(255, 255, 255);
} 


h2{
        position: center;
        color: var(--blackColor);
        margin: 1rem 0;
        z-index: 2;
}

label{   
         color: var(--PrimaryColor);
         font-size: .9rem;
         font-weight: 600;              
}

input, select{
    background: var(--whiteColorDeam);
    border: none;
    border-radius: 10px;
}

button{
    border: none;
    border-radius: 10px;
     &:hover{
                    color: var(--PrimaryColor);
                }
}
