:root{
       --PrimaryColor: hsl(199, 100%, 33%);  
       --SecondaryColor: hsl(187, 85%, 43%);
       --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
       --whiteColor: hsl(0, 0%, 100%);
       --blackColor: hsl(201, 33%, 16%);
       --textColor: hsl(240, 4%, 36%);
       --whiteColorDeam: hsl(0, 0%, 93%);
       --greyText: rgb(190, 190, 190);
       --inputColor: rgb(239, 239, 239);
       --bodyColor: rgb(240, 240, 246);
       --cardBG: rgb(225, 225, 235);
} 




.destino-detalle {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 2rem;

  

  // Oscurecer un poco para mejorar legibilidad del texto
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
    
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #f0f0f0;
  }

  .options {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;

    button {
     display: inline-block;
  background: var(--gradientColor);
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  
  

      &:hover {
  background: var(--gradientColor);
  transform: scale(1.05);
  
      }

      &.visual {
        background: var(--gradientColor);
        color: var(--whiteColor);
      }

      &.auditiva {
        background: var(--gradientColor);
        color: var(--whiteColor);
      }
    }
  }

  .hint {
    font-size: 1rem;
    font-style: italic;
    color: #e0e0e0;
  }
}



    .videoDiv{
        position: absolute;
        height: 120%;
        width: 100%;
        overflow: hidden;
        top: 0;
        left: 0;

        video{
            height: 100%;
            object-fit: cover;
        }

        &::after{
            content: '';
            position: absolute;
            background: rgba(10, 84, 107, 0.307);
            bottom: 0;
            top: 0;
            right: 0;
            left: 0;
            mix-blend-mode: multiply;
        }

    }