.title {
  color: var(--blackColor);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.subtitle {
  color: var(--textColor);
  text-align: center;
  margin-bottom: 2rem;
}

.options {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: var(--cardBG);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  background: var(--gradientColor);
  color: var(--whiteColor);
}

body {
  background: linear-gradient(135deg, var(--PrimaryColor), var(--SecondaryColor));
  min-height: 100vh;
}